.EasyMDEContainer .editor-toolbar {
  border: none;
  background: #fcfcfc;
}

.EasyMDEContainer .CodeMirror {
  border: none !important;
  background: none;
}

.editor-preview {
  background-color: rgb(162, 178, 182) !important;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background-color: transparent !important;
}

pre {
  padding: 20px;
  background-color: #efefef;
}

blockquote {
  border-left: 5px solid rgb(254, 249, 249);
  padding-left: 20px;
  margin-left: 0px;
}